<!DOCTYPE html>
<html>
<head>
<style>
 td{
   padding:10px 30px;
   }
</style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<link href="/css/login.css" rel="stylesheet" type="text/css"/>
<center>
  <img src="/img/feed.jpg" alt="user" width="100" height="100" >
  <h1>FeedBack</h1>
  </center>
  <a href="/student/index"><button type="button">Home</button></a>
<hr/>
<div class="w3-container">
  <center>
  <h1>Your Feedback Have Been Received...</h1><br/>
  <img src="/img/ok.png" alt="user" width="100" height="100" >
  </center>
</div>