 <style>
 td{
   padding:10px 30px;
   }
</style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<link href="/css/login.css" rel="stylesheet" type="text/css"/>
<center>
  <img src="/img/quest.jpg" alt="user" width="100" height="100" >
  <h1>Your Questions</h1>
  </center>
  <a href="/student/index"><button type="button">Home</button></a>
<hr/>
<div class="w3-container">
  <center>
  <table cellpadding="10" cellspacing="0">
  <tr>
      <th>Course 1</th>
    <td><a href="/pdf/1.pdf" target="_blank"><img src="/img/pdf.png" align="center" alt="Cannot display" width="300" height="100" ></a></td>
  </tr>
  <tr>
    <th>Course 2</th>
    <td><a href="/pdf/2.pdf" target="_blank"><img src="/img/pdf.png" align="center" alt="Cannot display" width="300" height="100" ></a></td>
  </tr>
  <tr>
    <th>Course 3</th>
    <td><a href="/pdf/3.pdf" target="_blank"><img src="/img/pdf.png" align="center" alt="Cannot display" width="300" height="100" ></a></td>
  </tr>
  <tr>
    <th>Course 4</th>
    <td><a href="/pdf/4.pdf" target="_blank"><img src="/img/pdf.png" align="center" alt="Cannot display" width="300" height="100" ></a></td>
  </tr>
  <tr>
    <th>Course 5</th>
    <td><a href="/pdf/5.pdf" target="_blank"><img src="/img/pdf.png" align="center" alt="Cannot display" width="300" height="100" ></a></td>
  </tr>
  </table>
  </center>
</div>