 <style>
 td{
   padding:10px 30px;
   }
</style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<link href="/css/login.css" rel="stylesheet" type="text/css"/>
<center>
  <img src="/img/quest.jpg" alt="user" width="100" height="100" >
  <h1>Add Questions</h1>
  </center>
  <a href="/admin/index"><button type="button">Home</button></a>
<hr/>
<div class="w3-container">
  <center>
  <h1>Under Development .........</h1>
  </center>
</div>