<link href="/css/login.css" rel="stylesheet" type="text/css"/>
<center>
  <img src="/img/delete.png" alt="user" width="100" height="100" >
  <h1>Deletion</h1>
</center>
  <a href="/admin/index"><button type="button">Home</button></a>
<hr/>

<center>

<h1><%= @msg%></h1>
<img src="/img/ok.png" alt="user" width="100" height="100" />
</center>