<link href="/css/login.css" rel="stylesheet" type="text/css"/>
<center>
<img src="/img/delete.png" alt="user" width="100" height="100" >
<h1>Delete</h1>
</center>
  <a href="/admin/index"><button type="button">Home</button></a>
<center>
<hr>
<form action="/admin/studdeleteaction" method="get">
  <div class="container">
  <table cellspacing="0" cellpadding="10">
  <tr>
    <td>
      <label><b>Admission no. </b></label>
    </td>
    <td>
      <input type="number" placeholder="Enter admn no.  " name="admnno" required>
    </td>
  </tr>
  </table>  
  <br/>     
    <button style="background-color:red"submit">Delete</button>
  </div>

</form>
</center>
