<link href="/css/login.css" rel="stylesheet" type="text/css"/>
<center>
  <img src="/img/upmark.png" alt="user" width="100" height="100" >
  <h1>Mark Entiry Form</h1>
</center>
 <div align="left">
  <a href="/admin/index"><button type="button">Home</button></a></div>
<hr/>

<center>
<form action="/admin/updatemarkaction" method="get">
  <div class="container">
  <table cellspacing="0" cellpadding="10">
  <tr>
    <td>
      <label><b>Admission no. </b></label>
    </td>
    <td>
      <input type="number" placeholder="Enter Admission no.  " name="admnno" required>
    </td>
  </tr>

  <tr>
    <td>
      <label><b>Course no.1 mark </b></label>
    </td>
    <td>
      <input type="number" placeholder="Enter Course 1  " name="c1" required>
    </td>
  </tr>
   <tr>
    <td>
      <label><b>Course no.2 mark </b></label>
    </td>
    <td>
      <input type="number" placeholder="Enter Course 2  " name="c2" required>
    </td>
  </tr>
   <tr>
    <td>
      <label><b>Course no.3 mark </b></label>
    </td>
    <td>
      <input type="number" placeholder="Enter Course 3  " name="c3" required>
    </td>
  </tr>
   <tr>
    <td>
      <label><b>Course no.4 mark </b></label>
    </td>
    <td>
      <input type="number" placeholder="Enter Course 4  " name="c4" required>
    </td>
  </tr>
   <tr>
    <td>
      <label><b>Course no.5 mark </b></label>
    </td>
    <td>
      <input type="number" placeholder="Enter Course 5  " name="c5" required>
    </td>
  </tr>

  </table>  
  <br/>     
    <button type="submit">Submit</button>
  </div>

</form>
</center>