<!DOCTYPE html>
<html>
<head>
  <title>CollegeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div style="background-color:lightblue">
<hr/>
<h4><b>&nbsp;&copy;&nbsp;Maple University &nbsp;2017.&nbsp;Maple, California 94305.</b></h4>
<div align="right"><img src="/img/logo.png" width="50" height="50" alt="Can't load"></div>
</div>

</body>
</html>
